.search{
    height: 84px;
    aspect-ratio: 1/1;
    background-color: rgba(34, 49, 170, 1);
    border: none;

    border-left: 1px solid rgba(83, 96, 205, 1);
    border-right: 1px solid rgba(83, 96, 205, 1);

    cursor: pointer;
    transition: all ease-in-out .3s;

    &:hover{
        background-color: rgba(83, 96, 205, 1);
    }
}