@import '../../../../../helpers/color_variables.module.scss';

.mode_button{
    border: none;
    border-top: 1px solid $light-gray;
    background-color: transparent;
    cursor: pointer;

    width: 50%;
    height: 80px;

    &:nth-child(n + 1){
        border-left: 1px solid $light-gray;
    }

    &:disabled{
        & path{
            fill: $medium-gray;
        }
    }
}

.inner_button{
    border: none;
    background-color: transparent;
}
