.back_to_home{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    color: rgba(49, 48, 55, 1);
    text-decoration: none;
}

:global(.dark) .back_to_home{
    color: rgb(255, 255, 255)
}