.buttons_wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 47px 0 41px;

    & button{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        column-gap: 8px;
        height: 24px;
        border: none;
        background-color: transparent;

        font-family: Inter;
        font-size: 16px;
        font-weight: 600;
        color: rgba(49, 48, 55, 1);

        cursor: pointer;
        transition: all .4s ease-in-out;

        & p{
            margin: 0;
        }

        & path{
            transition: all .4s ease-in-out;
        }

        &:hover:not(:disabled){
            color: rgba(34, 49, 170, 1);

            & path{
                fill: rgba(34, 49, 170, 1);
            }
        }

        &:disabled{
            color: rgba(141, 142, 151, 1);
            cursor: not-allowed;

            & path{
                fill: rgba(141, 142, 151, 1);
            }
        }
    }
}