.like_button, .dislike_button{
    width: 88px;
    height: 56px;
    padding: 16px 32px;
    border-radius: 2px;
    border: none;
    background-color: rgba(232, 232, 232, 1);
    cursor: pointer;

    transition: all ease-in-out .4s;

    & img{
        width: 22px;
        aspect-ratio: 1/1;
    }

}

.like_button:hover{
    background-color: rgba(83, 96, 205, 1);
    & path{
        fill: white;
        transition: all ease-in-out .4s;
    }
}

.dislike_button:hover{
    background-color: rgba(253, 52, 25, 1);
    & path{
        fill: white;
        transition: all ease-in-out .4s;
    }
}