.tabs_holder{
    width: 100%;
}

.tabs_holder__button{
    height: 56px;
    padding: 7px 40px 24px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-bottom: 2px solid transparent;
    background-color: transparent;
    cursor: pointer;

    transition: all ease-in-out .2s;

    &:hover{
        border-bottom: 2px solid rgba(144, 143, 143, 0.502);
    }

    &.active {
        border-bottom: 2px solid black;
    }
}
