.post{
    width: 100%;
    display: grid;
    grid-template-columns: calc(63% - 16px) calc(37% - 16px);
    column-gap: 32px;
    font-family: Inter;
    border-bottom: 1px solid rgba(218, 218, 218, 1);

    & a{
        text-decoration: none;
    }

    & h4{
        margin: 0 0 8px;
        font-size: 16px;
        font-weight: 400;
        color: rgba(141, 142, 151, 1);
    }

    & h2{
        margin: 0;
        font-size: 32px;
        text-transform: capitalize;
        font-weight: 700;
        color: rgba(49, 48, 55, 1);

        transition: all ease-in-out .3s;

        &:hover{
            color: rgba(34, 49, 170, 1);
            cursor: pointer;
        }
    }
}

.post_image{
    grid-column: 2/3;
    height: 244px;
    & img{
        width: 100%;
        object-fit: cover;
    }
}

.body_text{
    width: 100%;
    max-height: 168px;
    overflow: hidden;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: rgba(141, 142, 151, 1);
    margin: 24px 0 31px;
}

.like_dis{
    display: flex;
    margin-bottom: 40px;

    & .like_buttons:first-child{
        margin-right: 24px;
    }
}

.dop_buttons{
    justify-content: flex-end;
}

:global(.dark) .post h2{
    color: rgba(255, 255, 255, 1);

    &:hover{
        color: rgba(34, 49, 170, 1);
        cursor: pointer;
    }
}